@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h5{
    margin: 0;
    padding: 0;
}

body{
    background: url('../media/gplaypattern.png');
    background-repeat: repeat;
    background-size: auto;
    position: relative;

}

.altern-body{
    box-shadow: 0px 2px 22px 2px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: 0 auto;
}

/*  HEADER START */
header{
    background-color: white;
    width: 100%;
    height: 100px ;
    margin-top: 50px;
    border-top: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
}


/*  HEADER END */


/*  BANNER START */

.contact-banner{
    width: 100%;
    background-size: contain;
    background-position: center !important;
    background: url(../media/contact-us.jpg);
    height: 350px;
    position: relative;
}

.contact-banner h3{
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
    font-size: 50px;
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
}

/*  BANNER END */

/*  SECTION START */
section{
    width: 100%;
    background-color: white;
    padding-bottom: 150px;
    font-family: 'Ubuntu', sans-serif;
}

section .content{
    padding-top: 120px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .content .contact{
    width: 45%;
    margin-right: 5%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 10px solid #333;
    padding-left: 8px;
    text-align:start;
}


section .content .contact h5{
   margin: 20px 0 20px 25px;
   opacity: .6;
}


section .content .contact h6{
    margin-left: 30px
 }

section .content .contact span{
    opacity: 1;
}

section .content .map{
    width: 450px;
    height: 300px;
    width: 45%;
}

section .content .map iframe{
   width: 100%;
   height: 100%;
}

/*  SECTION END */

